.inputDate {
    border-width: 0;
    width: 100px;
    height: 40px;
    font-size: 1.2em;
    caret-color: transparent;
}


.inputDate:focus {
    outline: none;
}

.react-datepicker-popper {
    margin-left: 2em;
}